<div class="content" role="main">
  <div class="form-group">
    <label for="Input">Input: </label>
    <input type="text" class="form-control" [(ngModel)]="vInput">
  </div>

  <div class="form-group">
    <label for="Input">Output: </label>
    <input type="text" class="form-control" [(ngModel)]="vOutput " disabled>
  </div>

  <div class="mb10">
    <input type="button" value="Send Order" (click)="onClick()">
  </div>

  <ng-container *ngIf="orderHistory.length > 0 && !isLoading">
    <div>
      <table>
        <thead>
          <tr>
            <th>Input</th>
            <th>Output</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderHistory">
            <td>{{order.input}}</td>
            <td>{{order.output}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
